<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |

<% if admin? %>
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to 'Back', main_app.root_path %>
<% end %>