<h1>New User</h1>

<%= render 'form', user: @user %>
<br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if admin? %>
        <%= link_to 'Back', users_path, class: 'btn btn-block btn-info' %>
    <% else %>
        <% if main_app.admin_dashboard_path %>
            <%= link_to 'Back', main_app.admin_dashboard_path, class: 'btn btn-block btn-info' %>
        <% else %>
            <%= link_to 'Back', main_app.root_path, class: 'btn btn-block btn-info' %>
        <% end %>
    <% end %>
  </div>
</div>