<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <%= stylesheet_link_tag    "signup/application", media: "all" %>
  <%= javascript_include_tag "signup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
